<h1>Passing the <%= @test_transit.test.title %> Test</h1>

<b>
  <p><%= @test_transit.current_question.body %></p>
</b>

<%= form_with url: test_transit_path(@test_transit), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_transit.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= form.submit 'Next'%></p>
<% end %>

<p><%= "Количество вопросов теста - #{@test_transit.count_of_questions}" %></p>
<p><%= "Номер текущего вопроса теста - #{@test_transit.number_of_question}" %></p>