<h2><%= t('.test') %></h2>

<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<%= link_to t('.edit_test'), edit_admin_test_path(@test) %> |
<%= link_to t('admin.answers.edit.back'), admin_tests_path %>


<h2><%= t('admin.questions.show.message') %> </h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
</ol>

<h3> Количество вопросов: <%= @test.questions.count %> </h3>
